@import "../../src/Styles/Mixins";
@import "../../src/Styles/Variables";

.ticket-row {
  @media (max-width: 767px) {
    gap: 10px;
    justify-content: center;
  }

  .card-col {
    position: relative;
    margin-right: 26px;
    width: calc(33.33% - 17.5px);
    background-color: transparent;
    border: 3px solid $Light-Primary-color;
    box-shadow: 0 0 5px 1px $Light-Primary-color;
    @include border-radius(36px);
    transition: all ease 0.3s;
    cursor: pointer;

    &:hover {
      background: $Light-Primary-color;
    }

    &:hover .card .card-subtitle .claim-btn {
      background-color: $White-color;
      color: $Primary-color;
    }

    @media (max-width: 1665px) {
      @include border-radius(32px);
      margin-right: 20px;
      width: calc(33.33% - 14px);
    }
    @media (max-width: 1365px) {
      @include border-radius(28px);
    }
    @media (max-width: 1199px) {
      width: calc(33.33% - 10px);
      margin-right: 15px;
      @include border-radius(22px);
    }
    @media (max-width: 991px) {
      width: calc(33.33% - 8px);
      margin-right: 12px;
      @include border-radius(17px);
      border-width: 2px;
    }
    @media (max-width: 767px) {
      width: 49%;
      margin-right: 0;
      @include border-radius(10px);
    }
    @media (max-width: 575px) {
      width: 270px;
      margin-right: 0;
      @include border-radius(7px);
    }

    &:last-child {
      margin-right: 0;
    }

    .card {
      text-align: center;
      padding: 33px 10px 22px;
      background: transparent;
      border: none;

      @media (max-width: 1665px) {
        padding: 28px 0 17px;
      }
      @media (max-width: 1365px) {
        padding: 22px 0 12px;
      }
      @media (max-width: 1199px) {
        padding: 20px 0 14px;
      }
      @media (max-width: 991px) {
        padding: 10px 0px 5px;
      }
      @media (max-width: 575px) {
        padding: 7px 0 0;
      }

      .card-title {
        color: $White-color;

        @media (max-width: 575px) {
          margin-bottom: 3px;
        }
      }
      .card-subtitle {
        color: $White-color;

        .claim-btn {
          background-color: $Primary-color;
          color: $White-color;
          border: 1px solid $Primary-color;
          margin-left: 20px;

          &:hover {
            background-color: transparent;
            border-color: $White-color;
            color: $White-color;
          }

          &:focus {
            box-shadow: none;
            outline: none;
          }

          @media (max-width: 1199px) {
            font-size: 14px;
            margin-left: 10px;
          }
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $Card-bg;
      @include border-radius(36px);
      z-index: -1;
      display: block;
      filter: blur(30px);
      transition: all 0.3s ease;
    }
    .card-body{
      padding-bottom: 0;
    }
    .xetaBottomTxt {
      font-family: "Bebas-neue-bold", cursive;
      font-style: normal;
      font-weight: 700;
      font-size: 34px;
      line-height: 34px;
      text-align: right;
      color: #FFFFFF;
      padding: 0 1rem;
      background: transparent;
      border: none;
      margin-top: -15px;
    }
  }
}
